type pvrsrvinit, domain;
type pvrsrvinit_exec, exec_type, file_type;

init_daemon_domain(pvrsrvinit)
allow pvrsrvinit self:capability { sys_module };
