on boot
#    setprop net.eth0.dns1 10.32.192.11
#    setprop net.eth0.dns2 10.32.193.11
    setprop ro.build.product smdkc110
    setprop ro.product.device smdkc110
    setprop ro.radio.noril yes

# fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

# wi-fi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp

# create data/gps for GPS demon
    chown root system /dev/s3c2410_serial1
    chmod 664 /dev/s3c2410_serial1
    mkdir /data/gps 771 system system
    chown system system /data/gps
    chown root system /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 664 /sys/class/sec/gps/GPS_PWR_EN/value
    chown root system /sys/class/gpio/gpio104/value
    chmod 664 /sys/class/gpio/gpio104/value
    chown root system /sys/class/gpio/gpio105/value
    chmod 664 /sys/class/gpio/gpio105/value
    
service glgps /system/bin/gpsd/glgps_samsungJupiter -c /system/etc/jupiter.xml
    user system
    group system inet
        
service wpa_supplicant /system/bin/wpa_supplicant -Dwext -ieth0 -c/data/misc/wifi/wpa_supplicant.conf
   socket wpa_eth0 dgram 0660 wifi wifi
   disabled
   oneshot

service dhcpcd /system/bin/dhcpcd -ABKL
   disabled
   oneshot
