on boot
    setprop ro.build.product smdkc110
    setprop ro.product.device smdkc110
    setprop ro.radio.noril yes
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"

# fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

# ko files for 3D
    insmod /modules/pvrsrvkm.ko
    insmod /modules/s3c_lcd.ko
    insmod /modules/s3c_bc.ko

# wi-fi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp

# phone
    chown radio radio /sys/class/modemctl/xmm/control
    chmod 660 /sys/class/modemctl/xmm/control

# create data/gps for GPS demon
    chown root system /dev/s3c2410_serial1
    chmod 664 /dev/s3c2410_serial1
    mkdir /data/gps 771 system system
    chown system system /data/gps
    chown root system /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 664 /sys/class/sec/gps/GPS_PWR_EN/value
    chown root system /sys/class/gpio/gpio104/value
    chmod 664 /sys/class/gpio/gpio104/value
    chown root system /sys/class/gpio/gpio105/value
    chmod 664 /sys/class/gpio/gpio105/value

# sensors sysfs attributes.  input devices are created dynamically 
# so we can't be sure which is which.  this is a bit of a hack until 
# (and if) init is modified to handle uevents (or ueventd is modified 
# to support sysfs).
    chown input input /sys/class/input/event0/device/enable
    chown input input /sys/class/input/event1/device/enable
    chown input input /sys/class/input/event2/device/enable
    chown input input /sys/class/input/event3/device/enable
    chown input input /sys/class/input/event4/device/enable
    chown input input /sys/class/input/event5/device/enable
    chown input input /sys/class/input/event6/device/enable
    chown input input /sys/class/input/event7/device/enable
    chown input input /sys/class/input/event8/device/enable
    chown input input /sys/class/input/event9/device/enable
    chmod 660 /sys/class/input/event0/device/enable
    chmod 660 /sys/class/input/event1/device/enable
    chmod 660 /sys/class/input/event2/device/enable
    chmod 660 /sys/class/input/event3/device/enable
    chmod 660 /sys/class/input/event4/device/enable
    chmod 660 /sys/class/input/event5/device/enable
    chmod 660 /sys/class/input/event6/device/enable
    chmod 660 /sys/class/input/event7/device/enable
    chmod 660 /sys/class/input/event8/device/enable
    chmod 660 /sys/class/input/event9/device/enable
    chown input input /sys/class/input/event0/device/poll_delay
    chown input input /sys/class/input/event1/device/poll_delay
    chown input input /sys/class/input/event2/device/poll_delay
    chown input input /sys/class/input/event3/device/poll_delay
    chown input input /sys/class/input/event4/device/poll_delay
    chown input input /sys/class/input/event5/device/poll_delay
    chown input input /sys/class/input/event6/device/poll_delay
    chown input input /sys/class/input/event7/device/poll_delay
    chown input input /sys/class/input/event9/device/poll_delay
    chown input input /sys/class/input/event9/device/poll_delay
    chmod 660 /sys/class/input/event0/device/poll_delay
    chmod 660 /sys/class/input/event1/device/poll_delay
    chmod 660 /sys/class/input/event2/device/poll_delay
    chmod 660 /sys/class/input/event3/device/poll_delay
    chmod 660 /sys/class/input/event4/device/poll_delay
    chmod 660 /sys/class/input/event5/device/poll_delay
    chmod 660 /sys/class/input/event6/device/poll_delay
    chmod 660 /sys/class/input/event7/device/poll_delay
    chmod 660 /sys/class/input/event9/device/poll_delay
    chmod 660 /sys/class/input/event9/device/poll_delay

on fs
    mkdir /efs 0775 radio radio
    mount yaffs2 mtd@efs /efs nosuid nodev
    mount ext4 /dev/block/mmcblk0p2 /system wait ro
    mount ext4 /dev/block/mmcblk0p3 /cache wait noatime
    mount ext4 /dev/block/mmcblk0p4 /data wait noatime

# permissions for bluetooth.
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown bluetooth bluetooth /dev/s3c2410_serial0
    chmod 0600 /dev/s3c2410_serial0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type

# Permissions for System Server and daemons.
    chown system system /sys/class/backlight/s5p_bl/brightness

service glgps /system/bin/gpsd/glgps_samsungJupiter -c /system/etc/jupiter.xml
    user system
    group system inet

# create filesystems if necessary
service setup_fs /system/bin/setup_fs mmcblk0p3 mmcblk0p4
    user root
    group root
    oneshot

# 3D init
service pvrsrvinit /system/bin/pvrsrvinit
    user root
    group root
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant -Dwext -ieth0 -c/data/misc/wifi/wpa_supplicant.conf
    socket wpa_eth0 dgram 0660 wifi wifi
    disabled
    oneshot

service dhcpcd /system/bin/dhcpcd -ABKL
    disabled
    oneshot

service hciattach /system/bin/brcm_patchram_plus -d --enable_hci \
    --baudrate 921600 --patchram system/etc/firmware/bcm4329.hcd /dev/s3c2410_serial0
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

# sensor service
    service akmd8973 /system/bin/akmd8973
    enabled
    oneshot
