[access "refs/*"]
	owner = group Administrators
	create = group Crespo Maintainers
	forgeCommitter = group Crespo Maintainers
	push = +force group Crespo Maintainers
	label-Code-Review = -2..+2 group Crespo Maintainers
	label-Verified = -1..+1 group Crespo Maintainers
	submit = group Crespo Maintainers
[project]
	state = active
