# dev files for 3D
/dev/pvrsrvkm             0666   system     system
/dev/video0               0664   system     camera
/dev/video1               0664   system     camera
/dev/video2               0664   system     camera
/dev/s3c-jpg              0660   system     camera
/dev/pmem_gpu1            0664   system     graphics
/dev/s3c-mem              0664   system     system
/dev/s3c_bc               0664   system     system
/dev/s3c-mfc              0664   system     graphics
/dev/onedram              0664   radio      radio

/dev/modemctl             0660   radio      radio
/dev/s3c2410_serial3      0660   radio      radio
/dev/block/mtdblock5      0660   radio      radio

# for Sensor HAL
/dev/akm8973_dev	0660	system	system
/dev/akmd8973_aot	0660	system	system
/dev/accelerometer	0660	system	system


